<%
  var whitelist = ["city", "school", "County", "GradeLevel"];

  var clean = function(r) {
    var out = {};
    whitelist.forEach(function(key) {
      out[key] = r[key];
    });
    return out;
  }

  var raw = csv.mmr_school;
  var cityData = {};

  raw.forEach(function(data) {
    if (!cityData[data.city]) {
      cityData[data.city] = { city: data.city, schools: [] };
    }

    cityData[data.city].schools.push(data);
  });

  var grouped = Object.keys(cityData).map(function(key) {
    var city = cityData[key];
    city.schools.sort(function(a, b) { return b.exempt - a.exempt; });
    return city;
  });
%>

<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://use.fontawesome.com/bd870dfa49.js"></script>
    <style>
[ng-cloak] { opacity: 0; }
    </style>
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="common-core-search">

    <responsive-child>

      <div ng-controller="commonCoreController" class="outermost" ng-cloak>

        <div class="search-container">
          <span class="view">View schools within the city of:</span>
          <type-select options="districts" model="city"></type-select>
          <div ng-if="school">
            <table>
              <tr class="header">
                <td class="grade">School</td>
                <td class="math">MMR vaccine exemption</td>
                <td class="math">Total enrollment</td>
                <td class="math">School district</td>
              </tr>

              <tr ng-repeat="row in school.schools">

                <td class="grade">{{row.school}}</td>
                <td class="math">
                  <span ng-if="row.exempt">
                    {{row.exempt | number : 1}}%
                  </span>
                  <span ng-if="!row.exempt">
                    0%
                  </span>
                  <td class="math">{{row.enrollment}}</td>
                  <td class="math">{{row.district}}</td>
                  
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="bottom">
          <div class="note">
            Note: Schools with fewer than 10 students were excluded. Schools that hadn't reported their vaccination data to the Department of Health were also excluded.
          </div>
          <div class="source"><em>
            Source: Washington Department of Health (2017-18)</em>
          </div>
          <div class="credit">EMILY M. ENG / THE SEATTLE TIMES</div>
        </div>

      </div>

    </responsive-child>

    <script>
      var districtData = <%= JSON.stringify(grouped) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
