<%

  var whitelist = ["school", "city"];

  var clean = function(r) {
    var out = {};
    whitelist.forEach(function(key) {
      out[key] = r[key];
    });
    return out;
  }
  var cityData = csv.mmr_school;
  var schoolData = csv.mmr_school;

  var createGroups = function(Data) {
    var grouped = {};

    Data.forEach(function(row) {
      var key = row.school ? row.school + row.city : row.city;
      if (!grouped[key]) grouped[key] = {
        city: row.city,
        school: row.school
      };
      var group = grouped[key];
      if (!group.school) group.school = {};
    });
  
    return grouped;
  }


  var groupedResults = createGroups(cityData);
  var groupedSchoolResults = createGroups(schoolData);

  var groupedSchools = Object.keys(groupedSchoolResults).map(function(k) { 
    return groupedSchoolResults[k]
  });

  groupedSchools.forEach(function(school) {
    var city = groupedResults[school.city];
    if (!city) return;
    if (!city.schools) city.schools = {};
    city.schools[school.school] = school;
  });

  var grouped = Object.keys(groupedResults).map(function(k) { return groupedResults[k] });
%>

<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://use.fontawesome.com/bd870dfa49.js"></script>
    <style>
[ng-cloak] { opacity: 0; }
    </style>
    <%= t.include("partials/_head.html") %>
  </head>
  <body ng-app="common-core-search">

    <responsive-child>

      <div ng-controller="commonCoreController" class="outermost" ng-cloak>

        <div class="search-container">
          <span class="view">View schools located in:</span>
          <type-select options="cities" model="city"></type-select>
          <div ng-if="school">
            <div class="no-results" ng-if="!school.grades">
              <i class="alarm fa fa-exclamation-triangle"></i> No reported results.
            </div>

            <table ng-if="school.city">

              <tr class="header">
                <td class="school">School</td>
                <td class="school">MMR Exemption rate</td>
                <td class="school">Enrollment</td>
                <td class="school">School District</td>
              </tr>

              <tr ng-repeat="row in city.school">
                <td class="school">{{row.school}}</td>
                <td class="school">{{row.exemptl}}</td>
                <td class="school">{{row.enrollment}}</td>
                <td class="school">{{row.district}}</td>
              </tr>

            </table>

          </div>
        </div>

        <div class="bottom">
          <div class="note">
            Note: Students who opted out of the test were given scores of zero, and are counted in these numbers as not passing. For student privacy reasons, results aren’t available when only a small number of students took the test or when fewer than 10 passed or failed.
          </div>
          <div class="source"><em>
            Source: Department of Public Health</em>
          </div>
          <div class="credit">Emily M. Eng / THE SEATTLE TIMES</div>
        </div>

      </div>

    </responsive-child>

    <script>
      var cityData = <%= JSON.stringify(grouped) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
